<!--
 * @Date: 2020-05-29 11:53:44
 * @LastEditTime: 2020-08-12 10:16:09
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
    <script>
      if ("addEventListener" in document) {
        document.addEventListener(
          "DOMContentLoaded",
          function () {
            FastClick.attach(document.body);
          },
          false
        );
      }
      if (!window.Promise) {
        document.writeln(
          '<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"' +
            ">" +
            "<" +
            "/" +
            "script>"
        );
      }
    </script>
    <title>星权益</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <% htmlWebpackPlugin.options.cdnConfig.forEach(function(item){ if(item.js &&
    !htmlWebpackPlugin.options.onlyCss){ %>
    <script type="text/javascript" src="<%= item.js %>"></script>
    <% }}) %>
  </body>
</html>
